---
layout: home
---

<div class="cd-section section-white" id="KnowAboutme">

    <div class="container">
        <!--&lt;!&ndash;     *********     FEATURES 2      *********      &ndash;&gt;-->

        <div class="features-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="col-sm-6 col-sm-offset-1">
                            <img src="/assets/img/teja.png" alt="Geek Image"
                                 class="img-circle img-responsive img-raised">
                        </div>
                        <div class="col-sm-12">
                            <div class="name">
                                <h3 class="title">Ravi Teja Gangineni</h3>
                                <h6>Full stack Developer</h6>
                                <!--<a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i-->
                                        <!--class="fa fa-linkedin"></i></a>-->
                                <!--<a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i-->
                                        <!--class="fa fa-twitter"></i></a>-->
                                <!--<a href="#pablo" class="btn btn-just-icon btn-simple btn-pinterest"><i-->
                                        <!--class="fa fa-pinterest"></i></a>-->
                            </div>
                            <a href="https://in.linkedin.com/in/gangineniraviteja" target="_blank" class="btn btn-social btn-fill btn-linkedin">
                                <i class="fa fa-linkedin-square"></i> Connect with Linkedin
                                <div class="ripple-container"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <h2 class="title text-center">Everything you want to know about me !!!</h2>
                        <div class="col-md-12">
                            <ul class="nav nav-pills nav-pills-info nav-pills-icons" role="tablist">
                                <!--
                                    color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                                -->
                                <li class="active">
                                    <a href="#AboutMe" role="tab" data-toggle="tab" aria-expanded="true">
                                        <i class="material-icons">recent_actors</i>
                                        About Me
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#Experience" role="tab" data-toggle="tab" aria-expanded="false">
                                        <i class="material-icons">schedule</i>
                                        Experience
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#Education" role="tab" data-toggle="tab" aria-expanded="false">
                                        <i class="material-icons">school</i>
                                        Education
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#Skills" role="tab" data-toggle="tab" aria-expanded="false">
                                        <i class="material-icons">list</i>
                                        Skills
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content tab-space">
                                <div class="tab-pane active" id="AboutMe">
                                    <div class="description">
                                        <h5>I am full stack developer with lot's of love towards FOSS. I just started contributing
                                            to FOSS in my own way.Everybody have their own stack where they are confident to build
                                            software. Here is mine:</h5>
                                        <p><b>Databases : </b> Mysql(Maria-db),noSQL(Mongodb & Couchbase)<br></p>
                                        <p><b>Backend : </b>PHP(Laravel & Slim),NodeJs<br></p>
                                        <p><b>Frontend : </b>Javscript,HTML5, SASS,LESS,Any JS framework with functional apis<br>
                                        </p>

                                    </div>
                                </div>
                                <div class="tab-pane" id="Experience">
                                    <!-- Experience -->
                                        <div class="">
                                            <h2>4 Years Professional Experience</h2>
                                            <div class="experience-timeline">

                                                <div class="experience-block clearfix">
                                                    <div class="meta">
                                                        <span class="year">June 2016 - Current</span>
                                                        <span class="company">Ameriprise Financial Inc.</span>
                                                    </div>
                                                    <!-- end .meta -->
                                                    <div class="content">
                                                        <h5>Senior Associate - Engineering</h5>
                                                        <p>Enabling DevOps in Digital Technologies. </p>
                                                    </div>
                                                    <!-- end .content -->
                                                    <div class="icon">
                                                        <i class="fa fa-cogs"></i>
                                                    </div>
                                                    <!-- end .icon -->
                                                    <div class="line"></div>
                                                </div>
                                                <!-- end .experience-block -->
                                                <div class="experience-block clearfix">
                                                    <div class="meta">
                                                        <span class="year">June 2015 - May 2016</span>
                                                        <span class="company">Kore Inc.</span>
                                                    </div>
                                                    <!-- end .meta -->
                                                    <div class="content">
                                                        <h5>Software Engineer - Web Application Developer</h5>
                                                        <p>Developing web application Using Kony Framework, Jquery, Handlebars, Multiple Jquery Plugins.</p>
                                                    </div>
                                                    <!-- end .content -->
                                                    <div class="icon">
                                                        <i class="fa fa-desktop"></i>
                                                    </div>
                                                    <!-- end .icon -->
                                                    <div class="line"></div>
                                                </div>
                                                <!-- end .experience-block -->
                                                <div class="experience-block clearfix">
                                                    <div class="meta">
                                                        <span class="year">July 2013 - June 2015</span>
                                                        <span class="company">CloudFuze Inc.</span>
                                                    </div>
                                                    <!-- end .meta -->
                                                    <div class="content">
                                                        <h5>Cloud Infra Engineer</h5>
                                                        <p>Developing webapplication using RESTful Services, Jquery, Html5 and CSS3. I worked on Xen Hypervisor, Cloud Linux Servers. Deploy Services like Web, DB, Load balancers, Apache, Nginx, Zimbra Mail Server, MySql Servers, Cloud Infrastructure Planning and implementing them to provide High Available Applications Over the Internet.</p>
                                                    </div>
                                                    <!-- end .content -->
                                                    <div class="icon">
                                                        <i class="fa fa-cloud"></i>
                                                    </div>
                                                    <!-- end .icon -->
                                                    <div class="line"></div>
                                                </div>
                                                <!-- end .experience-block -->
                                                <div class="experience-block clearfix">
                                                    <div class="meta">
                                                        <span class="year">July 2013 - June 2015</span>
                                                        <span class="company">Exinent LLC</span>
                                                    </div>
                                                    <!-- end .meta -->
                                                    <div class="content">
                                                        <h5>Web Developer</h5>
                                                        <p>PHP Development on CMS like Drupal, Wordpress,Zend development and Magento Ecommerce Framework, Performance Tuning of Apache, Nginx Webserver, Mysql Server.</p>
                                                    </div>
                                                    <!-- end .content -->
                                                    <div class="icon">
                                                        <i class="fa fa-credit-card"></i>
                                                    </div>
                                                    <!-- end .icon -->
                                                    <div class="line"></div>
                                                </div>
                                                <!-- end .experience-block -->
                                                <div class="experience-block clearfix">
                                                    <div class="meta">
                                                        <span class="year">March 2011 - April 2012</span>
                                                        <span class="company">IIT(BHU), Varanasi</span>
                                                    </div>
                                                    <!-- end .meta -->
                                                    <div class="content">
                                                        <h5>Student Administrator - Web Management Group</h5>
                                                        <p>Email Administration, Developing html based web pages to various departments of the college.</p>
                                                    </div>
                                                    <!-- end .content -->
                                                    <div class="icon">
                                                        <i class="fa fa-graduation-cap"></i>
                                                    </div>
                                                    <!-- end .icon -->
                                                    <div class="line"></div>
                                                </div>
                                                <!-- end .experience-block -->

                                            </div>
                                            <!-- end .experience-timeline -->
                                </div>
                                </div>
                                 <div class="tab-pane" id="Education">
                                     <div class="">
                                         <h2>My Education</h2>
                                         <div class="education clearfix">
                                             <div class="item">
                                                 <div class="marker"></div>
                                                 <div class="content">
                                                     <span>Andhra Pradesh State Board</span>
                                                     <h4>Secondary School Certificate</h4>
                                                 </div>
                                                 <div class="year">2005 - 2006</div>
                                             </div>
                                             <!-- end item -->
                                             <div class="item">
                                                 <div class="marker"></div>
                                                 <div class="content">
                                                     <span>Andhra Pradesh</span>
                                                     <h4>Board of Intermediate Education</h4>
                                                 </div>
                                                 <div class="year">2006 - 2008</div>
                                             </div>
                                             <!-- end item -->
                                             <div class="item">
                                                 <div class="marker"></div>
                                                 <div class="content">
                                                     <span>IIT (BHU) <br>Varanasi</span>
                                                     <h4>Integrated Masters Degree.</h4>
                                                 </div>
                                                 <div class="year">2008 - 2013</div>
                                             </div>

                                             <div class="line"></div>
                                         </div>
                                         <!-- end .education -->

                                     </div>
                                     <!-- end .container -->
                                 </div>
                                <div class="tab-pane" id="Skills">
                                    <div class="">
                                        <h2>My Skills </h2>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                            <div class="col-sm-6">
                                                <h4>Coding</h4>
                                                <div class="col-sm-12">
                                                    <ul class="list-icons purple bold-list">
                                                        <li><i class="material-icons">forward</i>JavaScript</li>
                                                        <li><i class="material-icons">forward</i>JQuery</li>
                                                        <li><i class="material-icons">forward</i>Angularjs</li>
                                                        <li><i class="material-icons">forward</i>Handlebarsjs</li>
                                                        <li><i class="material-icons">forward</i>NodeJS</li>
                                                        <li><i class="material-icons">forward</i>HTML5, CSS3,SASS,LESS</li>
                                                        <li><i class="material-icons">forward</i>PHP, Mysql</li>
                                                        <li><i class="material-icons">forward</i>Java, Selenium</li>
                                                    </ul>
                                                </div>
                                                <!-- end .col-sm-6 -->


                                                <!-- end .row -->
                                            </div>
                                            <!-- end .col-sm-6 -->
                                            <div class="col-sm-6">
                                                <h4>CMS and Frameworks</h4>
                                                <ul class="list-icons purple bold-list">
                                                    <li><i class="material-icons">forward</i>Magento Ecommerce</li>
                                                    <li><i class="material-icons">forward</i>Worpress Blogging System</li>
                                                    <li><i class="material-icons">forward</i>Joomla and Drupal CMS</li>
                                                    <li><i class="material-icons">forward</i>Laravel</li>
                                                    <li><i class="material-icons">forward</i>Slim Micro Rest Services Framework</li>
                                                    <li><i class="material-icons">forward</i>PhoneGap Framework(Hybrid Mobile Apps)</li>
                                                    <li><i class="material-icons">forward</i>Electron Framework(Hybrid Desktop Apps)</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6">
                                                <h4>Version Control Systems</h4>
                                                <ul class="list-icons purple bold-list">
                                                    <li><i class="material-icons">forward</i>SVN</li>
                                                    <li><i class="material-icons">forward</i>GIT</li>
                                                </ul>
                                            </div>
                                             <div class="col-sm-6">
                                                <h4>REST API Integrations</h4>
                                                <ul  class="list-icons purple bold-list">
                                                    <li><i class="material-icons">forward</i>Paypal &amp; Authorize.net API's </li>
                                                    <li><i class="material-icons">forward</i>Mailchimp, AmazonSES for Email Services </li>
                                                    <li><i class="material-icons">forward</i>SMS Gateway Integrations</li>
                                                    <li><i class="material-icons">forward</i>REST Service Integration Web Apps</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- end .row -->
                                        <!--<div class="spacer"></div>-->
                                        <!--<h4>Development and Server Administration on Operating Systems</h4>-->

                                    </div>
                                    <!-- end .container -->
                                </div>
                            </div>

                        </div>



                    </div>
                </div>

            </div>
        </div>

        <!--     *********    END FEATURES 2      *********      -->

    </div>

</div>
</div>
<div class="cd-section section-white" id="projects">
    <div class="projects-3 section-dark" id="projects-3">

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h6 class="category text-muted">My work</h6>
                    <h2 class="title">My current projects</h2>
                </div>
            </div>

            <div class="row">

                <div class="col-md-5 col-md-offset-1">
                    <div class="card card-plain">
                        <a href="#pablo">
                            <div class="card-image">
                                <img src="assets/img/ConversationalRecruiting.jpg" />
                            </div>
                        </a>
                        <div class="content">
                            <h6 class="category">App Development</h6>
                            <a href="#pablo">
                                <h4 class="card-title">Conversational Recruiting</h4>
                            </a>
                            <p class="card-description">
                                Building a Chat Interface for Recruitment. Real time conversation between Talent Acquisition teams and job seeekers.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card card-plain">
                        <a href="#pablo">
                            <div class="card-image">
                                <img src="assets/img/containers.jpg" />
                            </div>
                        </a>
                        <div class="content">
                            <h6 class="category">DevOps</h6>
                            <a href="#pablo">
                                <h4 class="card-title">Enterprise Grade Devops</h4>
                            </a>
                            <p class="card-description">
                                Testing Docker and Kubernetes use cases for Enterprise.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="projects-1" id="projects-1">

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">My Projects & Freebies for you</h2>

                    <!--<ul class="nav nav-pills nav-pills-rose">-->
                        <!--<li class="active"><a href="#pill1" data-toggle="tab">All</a></li>-->
                        <!--<li><a href="#pill2" data-toggle="tab">Marketing</a></li>-->
                        <!--<li><a href="#pill3" data-toggle="tab">Development</a></li>-->
                        <!--<li><a href="#pill3" data-toggle="tab">Productivity</a></li>-->
                        <!--<li><a href="#pill5" data-toggle="tab">Web Design</a></li>-->
                    <!--</ul>-->
                    <!--<div class="tab-content tab-space">-->
                        <!--<div class="tab-pane active" id="pill1">-->

                        <!--</div>-->
                        <!--<div class="tab-pane" id="pill2">-->

                        <!--</div>-->
                        <!--<div class="tab-pane" id="pill3">-->

                        <!--</div>-->
                        <!--<div class="tab-pane" id="pill4">-->

                        <!--</div>-->
                    <!--</div>-->

                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                </div>

                <div class="col-md-6">
                    <div class="card card-raised card-background" style="background-image: url('assets/img/projects/jekyll-sility.jpg')">

                        <div class="content">
                            <h6 class="category text-info">Web Profile</h6>
                            <a href="#pablo">
                                <h3 class="card-title">Jekyll Blogging with Sility</h3>
                            </a>
                            <p class="card-description">
                               Built with combination of Jekyll Blogging platform and Sility html design.
                            </p>
                            <a href="https://github.com/rteja91/jekyll-sility" class="btn btn-info btn-round">
                                <i class="material-icons">code</i> View Source
                            </a>
                            <a href="http://raviteja.gangineni.com/jekyll-sility/" class="btn btn-primary btn-round">
                                <i class="material-icons">content_copy</i> View Demo
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card card-raised card-background"  style="background-image: url('assets/img/projects/PolymerAdminSdk.png')">
                        <div class="content">
                            <h6 class="category text-info">Testing Web Components</h6>
                            <h3 class="card-title">Google Admin SDK on Polymer</h3>
                            <p class="card-description">
                                This design was aimed to manage the Google Admin SDK and Directory services at one place.
                            </p>
                            <a href="https://github.com/rteja91/polymeradminsdk/" class="btn btn-info btn-round">
                                <i class="material-icons">code</i> View Source
                            </a>
                            <a href="http://raviteja.gangineni.com/polymeradminsdk/app.html" class="btn btn-primary btn-round">
                                <i class="material-icons">content_copy</i> View Demo
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-raised card-background"  style="background-image: url('assets/img/projects/Paperjs-Cycle.png')">
                        <div class="content">
                            <h6 class="category text-info">Paperjs</h6>
                            <h3 class="card-title">Cycle with Paperjs</h3>
                            <p class="card-description">
                                I built a Cycle with Paperjs. It was all about Geometry using javascript.
                            </p>
                            <a href="https://github.com/rteja91/paperjssample/" class="btn btn-info btn-round">
                                <i class="material-icons">code</i> View Source
                            </a>
                            <a href="http://raviteja.gangineni.com/paperjssample/" class="btn btn-primary btn-round">
                                <i class="material-icons">content_copy</i> View Demo
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-raised card-background"  style="background-image: url('assets/img/projects/PropertyGuruHiringChallenge.png')">
                        <div class="content">
                            <h6 class="category text-info">Coding Challenges</h6>
                            <h3 class="card-title">Property Guru Hiring Challenge</h3>
                            <p class="card-description">
                                This was built on Laravel, materialize.css. This was my first overnight coding stuff for a hiring challenge.
                            </p>
                            <a href="https://github.com/rteja91/pguruchallenge" class="btn btn-info btn-round">
                                <i class="material-icons">code</i> View Source
                            </a>
                            <a href="http://pguru.gangineni.com/" class="btn btn-primary btn-round">
                                <i class="material-icons">content_copy</i> View Demo
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card card-raised card-background" style="background-image: url('assets/img/projects/RaviPortfolio.png')">
                        <div class="content">
                            <h6 class="category text-info">Portfolio</h6>
                            <h3 class="card-title">About my work</h3>
                            <p class="card-description">
                                 The one which you are going through. if you love it you can also use it.
                            </p>
                            <a href="https://github.com/rteja91/rteja91.github.io/" class="btn btn-info btn-round">
                                <i class="material-icons">code</i> View Source Code
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="cd-section" id="BlogPosts">

    <div class="blogs-2 " id="blogs-2" style="background: #ddfdb8;">

        <div class="container">
            <div class="row">

                <div class="col-md-12 ">
                    <h2 class="title text-center">My journey with technology & life</h2>

                    <div class="row">
                        {% for post in site.posts limit:3 %}
                        <div class="col-md-4">
                            <div class="card  card-blog">
                                <div class="card-image">
                                    <a href="#pablo">
                                        <img class="img img-raised" src="{% if post.abstractimg %} {{post.abstractimg}} {% else %} assets/img/teja.png {% endif %}" />
                                    </a>
                                </div>

                                <div class="content">
                                    <h6 class="category text-info">{{post.categories}}</h6>

                                        <a href="{{ post.url | prepend: site.baseurl }}"><h4 class="card-title">{{post.title }}</h4></a>

                                    <p class="card-description">
                                        {{ post.content | strip_html | truncatewords: 23 }}<a href="{{ post.url | prepend: site.baseurl }}"> Read More </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                </div>

            </div>



        </div>
    </div>
</div>
    <!--<div class="home">-->

<!--<h1 class="page-heading">Posts</h1>-->

<!--<ul class="post-list">-->
<!--{% for post in site.posts %}-->
<!--<li>-->
<!--<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>-->

<!--<h2>-->
<!--<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>-->
<!--</h2>-->
<!--</li>-->
<!--{% endfor %}-->
<!--</ul>-->

<!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

<!--</div>-->
