<div class="header-2">
<nav class="navbar navbar-default navbar-transparent navbar-default navbar-fixed-top navbar-color-on-scroll">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/" style="font-size: 24px;"><strong>{{ site.title }}</strong></a>
    </div>

    <div class="collapse navbar-collapse" id="navigation-example">
      <ul class="nav navbar-nav navbar-right">
          <li>
              <a href="{{ site.baseurl }}/#KnowAboutme">
                  <i class="material-icons">account_circle</i> About me
              </a>
          </li>
          <li>
              <a href="{{ site.baseurl }}/#projects">
                  <i class="material-icons">apps</i> Portfolio
              </a>
          </li>
          <li>
              <a href="{{ site.baseurl }}/#BlogPosts">
                  <i class="material-icons">view_quilt</i> Journey
              </a>
          </li>
          <li>
              <a href="{{ site.baseurl }}/#ContactMyBot">
                  <i class="material-icons">chat_bubble</i> Contact Me
              </a>
          </li>
      </ul>
    </div>
  </div>
</nav>
</div>


