    <!-- Header -->
    <header class="header">
        <div class="top clearfix">
            <a href="{{ site.url }}/contact/" class="available"><i class="ion-ios-email-outline"></i><span>Contact for Tech Consultation</span></a>
            <div class="right-icons">
                <a href="#" class="open-search header-open-search"><i class="md md-search"></i></a>
                <a href="#" class="download"><i class="md md-file-download"></i></a>
                <a href="#" class="share"><i class="md md-more-vert"></i></a>
            </div>
            <!-- end .right-icons -->
            <!-- Popup -->
            <div class="popup">
                <nav class="social-nav">
                    <ul class="list-unstyled" style="margin-left: 0px;">
                        <li><a href="https://www.facebook.com/rteja91" target="_blank">Facebook</a>
                        </li>
                        <li><a href="https://twitter.com/rteja91">Twitter</a>
                        </li>
                        <li><a href="https://in.linkedin.com/in/gangineniraviteja">Linkedin</a>
                        </li>
                        <li><a href="https://plus.google.com/u/0/+RaviTejaGangineni">Google+</a>
                        </li>
                        <!-- <li><a href="#">Behance</a>
                        </li> -->
                    </ul>
                    <!-- end .list-unstyled -->
                </nav>
                <!-- end .social-nav -->
            </div>
            <!-- end .popup -->
        </div>
        <!-- end .top -->
        <div class="bottom clearfix">
            <div class="title"><a class="site-title" href="{{ site.url }}/">{{ site.title }}</a>
            </div>
            <div class="header-action-button-wrapper">
                <a href="#" class="header-action-button action-button"><i class="md md-add"></i></a>
            </div>
            <!-- end .header-action-button-wrapper -->
            <a href="#" class="responsive-menu-open">Menu <i class="fa fa-bars"></i></a>
            <nav class="main-nav">
                <ul class="list-unstyled">
                {% for page in site.pages %}
				{% if page.title %}
				<li><a  href="{{ page.url | prepend: site.url }}">{{ page.title }}</a></li>
				{% endif %}
				{% endfor %}
                </ul>
            </nav>
            <!-- end .main-nav -->
        </div>
        <!-- end .bottom -->
    </header>
    <!-- end .header -->
    <div class="responsive-menu">
        <a href="#" class="responsive-menu-close">Close <i class="ion-android-close"></i></a>
        <nav class="responsive-nav"></nav>
        <!-- end .responsive-nav -->
    </div>
    <!-- end .responsive-menu -->


    <div class="sections">
        <div class="sections-wrapper clearfix">