<script type="text/javascript" src='{{ "/js/jquery.min.js" | prepend: site.baseurl }}' ></script>
<script type="text/javascript" src='{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}' ></script>
<script type="text/javascript" src='{{ "/js/material.min.js" | prepend: site.baseurl }}' ></script>
<script type="text/javascript" src='{{ "/js/nouislider.min.js" | prepend: site.baseurl }}' ></script>
<script type="text/javascript" src='{{ "/js/bootstrap-datepicker.js" | prepend: site.baseurl }}' ></script>
<script type="text/javascript" src='{{ "/js/jquery.dropdown.js" | prepend: site.baseurl }}' ></script>
<script type="text/javascript" src='{{ "/js/jquery.tagsinput.js" | prepend: site.baseurl }}' ></script>
<script type="text/javascript" src='{{ "/js/jasny-bootstrap.min.js" | prepend: site.baseurl }}' ></script>
<script type="text/javascript" src='{{ "/js/material-kit.js" | prepend: site.baseurl }}' ></script>
<script type="text/javascript" src='{{ "/js/modernizr.js" | prepend: site.baseurl }}' ></script>
<script type="text/javascript" src='{{ "/js/vertical-nav.js" | prepend: site.baseurl }}' ></script>
<script type="text/javascript" src='{{ "/js/typed.js" | prepend: site.baseurl }}' ></script>